*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    text-decoration: none;
}
body{
    background-color: #121e28;
}
header{
    background-color: #121e28;
    width: 100%;
    height: 70px;
    padding: 20px;
    display: flex;
    position: fixed;
    top: 0px;
    z-index: 2;
    justify-content: space-between;
    color: white;
    align-items: center;
    opacity: 100;
    animation: fadein 2s ease-in-out 0s 1  ;
}
.icon{
    display: none;
    height: 40px;
    width: 100px;
    text-align: end;
    cursor: pointer;
    font-size: 30px;
}
.icon svg{
    height: 100%;
    width: 60px;
}
.resmenu{
    width: 100%;
    height: 400px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   display: none;
    text-align: center;
    align-content: center;
}
.resmenu ul li a{
    font-size: 30px;
    color: White;
    display: block;
    margin-bottom: 15px;
    font-family: cursive;
}
.resmenu ul li a:hover{
    border-bottom: 2px solid white;
}

@keyframes fadein {
    from{
        opacity: 0;
    } 
}
.logo h2{
    font-size: 26px;
    cursor: pointer;
   font-family: cursive;
}
.pmenu ul{
    display: flex;
    /* padding-top: 4px; */
}
.pmenu ul li a{
    color: rgb(255, 255, 255);
    margin-right: 20px;
    display: block;
    font-size: 18px;
    width: 90px;
    height: 40px;
    /* border-radius: 10px; */
    align-content: center;
    text-align: center;
}
.pmenu ul li a:hover{
    border-bottom: 3px solid white;
}
@media (max-width:600px){
    .pmenu{
        display: none;
    }
    .icon{
        display: block;
    }
}
/* Header End  */
.herosection{
    width: 100%;
    height: 90vh;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    background-color: #121e28;
}
.hleft {
    color: White;
    margin-left: 20px;
    padding: 12px;
    transform: translatey(19px);
    animation: textanimate 2s ease-in-out 0s 1 ;
}
@keyframes textanimate {
    from{
        transform: translatey(-80vh);
    }
}
.hleft h2{
font-size: 48px;
color: White;
font-family: cursive;
}
.hleft h4{
    font-size: 60px;
    font-family:unset;
    margin: 10px 0 10px 0;
}
.hleft h5{
    font-size: 40px;
    color: aliceblue;
    margin-bottom: 12px;
    font-family: monospace;
     width: 420px; 
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 3s steps(45) 2s infinite ;
} 
@keyframes typing {
    from{
        width: 0;
    }
}
.hleft button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid white;
 
}
@keyframes buttons {
   100%{
    transform: rotate(2deg);
   }
}
.hleft button:hover{
    background-color: White;
    color: black;
    transition: all 1s ease-in;
     animation: buttons 0.6s linear 0s infinite ;
     box-shadow: 2px 2px 18px #054e89;
}
.hright {
margin-right: 50px; 
}
.hright img{
    width: 470px;
    height: 470px;
    object-fit: cover;
    transform: translateX(40px);
   animation: imgslide 2s ease-in-out 0s 1  ;
}
.skills{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 15vh;
    flex-direction: row;
    padding: 20px;
    color: white;
    background-color: #0f1f28;
    flex-wrap: wrap;
    margin-bottom: 18px;
    overflow: hidden;
}
.skills h4{
    font-size: 23px;
    margin-right: 100px;
    width: 170px;
    height: 40px;
    text-align: center;
    border-radius: 14px;
    text-align: center;
    align-content: center;
    cursor: pointer;
    border: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
.skills h4:hover{
    color: White;
    box-shadow: 2px 2px 18px #054e89;
    transition: all 1s ease-out;
}
@media (max-width:600px){
.herosection{
    text-align: center;
}
.skills{
    margin-bottom: 28px;
    padding: 0;
    height: 22vh;
}
.skills h4{
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-transform: capitalize;
}
.skills h4:hover{
    box-shadow: none;
}
}
/* Animation  */
@keyframes imgslide {
    from{
        transform: translateX(100vh);
    }
}
/* Responsive Hero Section  */
@media (max-width:600px){
    .herosection{
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 150vh;
    }
    .hright{
        margin-top: 20px;
    }
    .hright img{
        margin-right: 40px;
        width: 380px;
        height: 380px;
    }
    .hleft{
        text-align: center;
        align-content: center;
    }
    .hleft h5{
        text-align: center;
        font-size: 25px;
        width: 299px;
        margin-right: 20px;
        margin-bottom: 12px;
        
    }
}
/* 21-08-2025 End Time  */
/* About Section  */
.about{
    color: white;
    width: 900px;
    height: 320px;
    overflow: hidden;
    transform: translateX(320px);
text-align: center;
border-radius: 12px;
animation: abouta 3.4s ease-in-out 0s 1  ;
margin-bottom: 20px;
}
.about:hover{
     box-shadow: 2px 2px 20px rgb(63, 71, 103);
}
.atext{
    overflow: hidden;
    border-radius: 12px;
}
.atext h2{
    font-size: 56px;
    font-family: cursive;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;

}
.atext p{
    font-size: 20px;
    line-height: 40px;
}
@keyframes abouta {
    from{
        transform: translateX(300vh);
    }
}
@media (max-width:600px) {

    .about{
        transform: translateX(1px);
        width: 100%;
        height: 60vh;
        line-height: 50px;
    }
    .atext{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .atext h2{
        font-size: 40px;
    }
}
/* Start Services Section  */
.Ssection{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
}
.Ssection h2{
    color: White;
    text-align: center;
    font-size: 3rem;
    font-family: cursive;
}
.sboxs{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
}
.s{
    width: 340px;
    height: 340px;
    background-color: #152d33;
    border-radius: 12px;
    margin-right: 20px;
    cursor: pointer;
    margin-bottom: 12px;
    color: White;
    text-align: center;
}
.s:hover{
    background-color: white;
    color: black;
    transition: all 0.4s ease-in-out;
}
.s img{
    height: 36%;
    margin-bottom: 12px;
    color: aliceblue;
}
.s h3{
    font-size: 27px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 4px;
}
.s p{
    font-size: 19px;
}
@media (max-width:600px){
    .s{
        margin: 4px 0px 4px 0px;
    }
    .Ssection{
        height: 180vh;
    }
}
/* Project section  */
.PSection{
    height: 70vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.PSection h2{
    font-size: 3.2rem;
    font-family: cursive;
    margin-bottom: 15px;
    color: white;
}
.pbox{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
}
.p{
    width: 340px;
    height: 300px;
    background-color: #152d33;
    border-radius: 15px;
    margin-right: 19px;
    color: white;
}
.p h2{
    font-size: 30px;
    color: rgb(245, 244, 244);
}
.p:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition: all 0.5s ease-in;
}

.p p{
    font-size: 22px;
    margin: 0px 0px 12px 0px;
    font-family:monospace;
}
.p button{
    width: 220px;
    height: 50px;
    border-radius: 21px;
    background-color: transparent;
    border: 2px solid rgb(121, 119, 119);
    color: rgb(255, 255, 255);
    font-size: 25px;
    cursor: pointer;
    margin: 40px 0px 0px 0px;
}
.p:hover button {
    color: rgb(255, 252, 252);
    background-color: #01294d;
}
.p:hover h2{
    color: black;
}
/* Responsive Project Section  */
@media (max-width:600px){
    .PSection{
        height: 160vh;
    }
    .p{
        margin: 0;
    }
    .p button{
        margin: 0;
    }
}
.CSection{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}
.CSection h2{
    font-size: 3rem;
    color: white;
    font-family: cursive;
    text-align: center;
}
.c{
    width: 60%;
    height: 60%;
    background-color: #054e89;
    border-radius: 10px;
    text-align: center;
    color: white;
}
.c:hover{
    box-shadow: 2px 2px 18px #fff;
    transition: all 0.4s ease-in;
}
.c p{
    text-align: center;
    color: white;
    margin-top: 4px;
}
.icon1{
    margin:15px 0 15px 0;
    display: flex;
    justify-content: center;
}
.icon1 i{
    margin-right: 8px;
}
.socialicon{
    width: 100%;
    height: 100px;
    margin-top: 60px;
}
.socialicon img{
    height: 50%;
    margin-right: 12px;
    cursor: pointer;
}
@media (max-width:600px){
    .c{
        width: 100%;
    }
    .socialicon{
        margin: 18px 0px 0px 0px;

    }
}
/* Start Footer  */
.f{
    width: 100%;
    height: 80px;
    text-align: center;
    color: white;
    background-color: #054e89;
}
.f h2{
    font-size: 20px;
}
.f a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 12px;
}
@media (max-width:600px){
    .f{
        height: 180px;
        padding-top: 12px;
    }
    .f h2{
        font-size: 18px;
    }
    .f a{
        margin-top: 10px;
        display: inline-block;
    }
}
