*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    text-decoration: none;
}
body{
    background-color: #121e28;
}
header{
    background-color: #121e28;
    width: 100%;
    height: 70px;
    padding: 20px;
    display: flex;
    position: fixed;
    top: 0px;
    z-index: 2;
    justify-content: space-between;
    color: white;
    align-items: center;
    opacity: 100;
    animation: fadein 2s ease-in-out 0s 1  ;
}
.icon{
    display: none;
    height: 40px;
    width: 100px;
    text-align: end;
    cursor: pointer;
    font-size: 30px;
}
.icon svg{
    height: 100%;
    width: 60px;
}
.resmenu{
    width: 100%;
    height: 350px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   display: none;
    text-align: center;
    align-content: center;
}
.resmenu ul li a{
    font-size: 30px;
    color: White;
    display: block;
    margin-bottom: 15px;
    font-family: cursive;
}
.resmenu ul li a:hover{
    border-bottom: 2px solid white;
}

@keyframes fadein {
    from{
        opacity: 0;
    } 
}
.logo h2{
    font-size: 26px;
    cursor: pointer;
   font-family: cursive;
}
.pmenu ul{
    display: flex;
    /* padding-top: 4px; */
}
.pmenu ul li a{
    color: rgb(255, 255, 255);
    margin-right: 20px;
    display: block;
    font-size: 18px;
    width: 90px;
    height: 40px;
    /* border-radius: 10px; */
    align-content: center;
    text-align: center;
}
.pmenu ul li a:hover{
    border-bottom: 3px solid white;
}
@media (max-width:600px){
    .pmenu{
        display: none;
    }
    .icon{
        display: block;
    }
}
/* Header End  */
.herosection{
    width: 100%;
    height: 90vh;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    background-color: #121e28;
}
.hleft {
    color: White;
    margin-left: 20px;
    padding: 12px;
    transform: translatey(19px);
    animation: textanimate 2s ease-in-out 0s 1 ;
}
@keyframes textanimate {
    from{
        transform: translatey(-80vh);
    }
}
.hleft h2{
font-size: 48px;
color: White;
font-family: cursive;
}
.hleft h4{
    font-size: 60px;
    font-family:unset;
    margin: 10px 0 10px 0;
}
.hleft h5{
    font-size: 40px;
    color: aliceblue;
    margin-bottom: 12px;
    font-family: monospace;
     width: 420px; 
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 3s steps(45) 2s infinite ;
} 
@keyframes typing {
    from{
        width: 0;
    }
}
.hleft button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid white;
 
}
@keyframes buttons {
   100%{
    transform: rotate(2deg);
   }
}
.hleft button:hover{
    background-color: White;
    color: black;
    transition: all 1s ease-in;
     animation: buttons 0.6s linear 0s infinite ;
}
.hright {
margin-right: 50px; 
}
.hright img{
    width: 470px;
    height: 470px;
    object-fit: cover;
    transform: translateX(40px);
   animation: imgslide 2s ease-in-out 0s 1  ;
}
/* Animation  */
@keyframes imgslide {
    from{
        transform: translateX(100vh);
    }
}
/* Responsive Hero Section  */
@media (max-width:600px){
    .herosection{
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 150vh;
    }
    .hright{
        margin-top: 20px;
    }
    .hright img{
        margin-right: 40px;
        width: 380px;
        height: 380px;
    }
    .hleft{
        text-align: center;
        align-content: center;
    }
    .hleft h5{
        text-align: center;
        font-size: 25px;
        width: 299px;
        margin-right: 20px;
        margin-bottom: 12px;
        
    }
}
/* 21-08-2025 End Time  */
/* About Section  */
.about{
    color: white;
    width: 900px;
    height: 320px;
    overflow: hidden;
    transform: translateX(320px);
text-align: center;
border-radius: 12px;
 box-shadow: 2px 2px 20px rgb(93, 113, 192);
animation: abouta 3.4s ease-in-out 0s 1  ;
margin-bottom: 20px;
}
.atext{
    overflow: hidden;
    border-radius: 12px;
}
.atext h2{
    font-size: 56px;
    font-family: cursive;
    margin-bottom: 10px;
    width: 310px;
    text-transform: uppercase;
    margin-left: 300px;
    text-wrap: nowrap;
   overflow: hidden;
    animation: typing 2s steps(45) 1s infinite ;
}
.atext p{
    font-size: 21px;
    line-height: 40px;
}
@keyframes abouta {
    from{
        transform: translateX(300vh);
    }
}
@media (max-width:600px) {
    .about{
        transform: translateX(1px);
        width: 100%;
        height: 82vh;
        line-height: 50px;
    }
    .atext{
        width: 100%;
        height: 100%;
    }
    .atext h2{
        margin-left: 120px;
        font-size: 40px;
        width: 220px;
    }
}
/* Last Updated in 22-Aug-2025  */
